<main class="section container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>

  <div class="title mt-4">
    <h1>New quote</h1>
  </div>

  <%= turbo_frame_tag id="first_turbo_frame" do%>
     <%= render "form", quote: @quote %>
  <% end %>

</main>