<main class="section container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>

  <div class="title mt-4">
    <h1>New quote</h1>
  </div>

  <%= render "form", quote: @quote %>
</main>